/* CSS Style sheet */


body, html {
  height: 85%;
  width: 100%;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    min-height: 500px;
}
.bgimg-1 {
  background-image: url("../images/UTM Deerfield.jpg");
	opacity: 75%;
  min-height: 100%;
}
.bgimg-2 {
  background-image: url("../images/background.webp");
  opacity: 0.65;
}
.bgimg-3 {
  background-image: url("../images/UTM DF Scoccer field .jpg");
  opacity: 0.65;
}
.bgimg-4 {
  background-image: url("../images/UTM Deerfield.jpg");
  opacity: 0.65;
}

.bgimg-1 h1 ,.bgimg-1 h2{
  max-width: 700px;
position: relative;
left: 10%;
}

.parallax-header {
  text-align: left;
  font-family: serif;
  font-size: 4em;
  color: black;
  text-shadow:2px 2px 4px #717171;
}

.parallax-header a{
	text-decoration: none;
	color: black;
}

.parallax-header a:hover{
	text-decoration: none;
	color: black;
}



.parallax-subheader {
  text-align: left;
  font-family: serif;
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px 4px #717171;
}

.parallax-title {
	text-decoration: none;
	color:white;
	transition:.5s
}
.parallax-title:hover{
	transition: .5s;
	text-decoration: none;
	color:#717171;
}


.parallax-center-button {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.parallax-center-button a{
  text-decoration: none;
}

.parallax-center-button:hover .button-style{
  bottom: 5px;
}

.button-style{
  background-color: #dbe1e5;
  color: #000000;
  padding: 15px;
  font-size: 20px;
}
.button-style:hover{
  position: relative;
  bottom: 1px;
  background-color: #919191;
  transition: 1s;
}


.parallax-content{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
}

.parallax-content h3 {
  color: #000000;
  font-weight: 500;
}

.parallax-content p {
  text-align: center;
  line-height: 2.5;
    font-size: 15px;
    font-weight: 400;
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}